<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>PyDredd</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	</head>
	<body>
		<div class="container mt-5">
			{% block content %}
			{% endblock %}
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>