{% extends 'base.html' %}
{% block content %}
<h1>Resultados da validação</h1>
<hr>

{% if erros != 'pokemon' %}
	{% for erro in erros %}
		<a href="https://validator.w3.org/nu/?doc={{erro}}" target="blank" class="d-block mb-0" alt="{{erro}}">{{erro}}</a>
		{% for tipo_erro in erros[erro] %}
			{{tipo_erro}}
		{% endfor %}
		<br>
		<br>
	{% endfor %}
{% endif %}

{% if alt_title_img == 'alt-title-img' %}
	<hr>
	{% if alt_title_results['sem_alt'] %}
		<h3>Imagens sem alt</h3>
		{% for sem_alt in alt_title_results['sem_alt'] %}
			<p>{{sem_alt}}</p>
		{% endfor %}
	{% endif %}
	<hr>
	{% if alt_title_results['sem_title'] %}
		<h3>Imagens sem title</h3>
		{% for sem_title in alt_title_results['sem_title'] %}
			<p>{{sem_title}}</p>
		{% endfor %}
	{% endif %}
	<hr>
	{% if alt_title_results['sem_alt_title'] %}
		<h3>Imagens sem alt e title</h3>
		{% for sem_alt_title in alt_title_results['sem_alt_title'] %}
			<p>{{sem_alt_title}}</p>
		{% endfor %}
	{% endif %}
{% endif %}




{% endblock %}
